/* Reset margins and set full height */
html, body {
  height: 100%;
  margin: 0; /* Remove default margins */
}

/* Background Video Styling */
.video-background {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 110%;
  height: 110%;
  object-fit: cover;
  z-index: -9999;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transform-origin: center center;
  transition: transform 0.1s ease-out;
  will-change: transform;
}

.video-background video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Content Styling */
.content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  padding: 0;
}

/* Avatar and Border Styling */
.avatarborder, .avatar {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.avatarborder img, .avatar img {
  display: block;
  max-width: 100%;
  height: auto;
}

.avatarborder img {
  z-index: 2; /* Ensure the border appears above the avatar */
}

.avatar img {
  z-index: 1; /* Avatar behind the border */
}

/* Avatar Name Styling */
.avatarname {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 20px;
  color: white;
  margin-top: 20%;
}
