html, body {
  height: 100%;
  margin: 0;
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.1s ease-out;
  will-change: transform;
}

.video-background video {
  width: 200%;
  height: 200%;
  object-fit: cover;
}

.content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  padding: 20px;
}

.avatarborder {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
